.content {
    /* background: green; */
    display: inline-block;
    width: 60%;
}

.content > header{
    margin-top: 1rem;
    margin-left: 1.8rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-gap: 0.625rem;
    grid-template-columns: auto auto auto auto;
    /* background-color: #2196F3; */
    padding: 0.625rem 1.875rem;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.6);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 0.625rem;
    font-size: 1.2rem;
    text-align: center;
    /* align-items: center; */
    /* display: inline-block; */
}

.grid-item > p{
    opacity: 0.8;
}

.grid-item > img{
    object-fit: cover;
    width: 5rem;
}
