html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #282828;
    color: #ffffff;
}

header{
    margin: 0;
    top: 0;
    height: 3rem;
    box-sizing: 100%;
    width: 100%;
}

.header {
    background-color: #129e9e;
    font-weight: bold;
    text-transform: uppercase;
    /* margin-bottom: 5%; */
    box-sizing: 100%;
    width: 100%;
}

header.header{
    box-sizing: border-box;
    width: 100%;
}

.header input {
    float: right;
    margin: 0.9rem 0.55rem 0px 0px;
    border-radius: 0.375rem;
    border-style: none;
}
.header h1 {
    /* display: block; 'Browser' below input. Review */
    text-align: left;
    margin-left: 1.22rem;
    font-size: 2.5rem;
    padding-top: 0.2rem;
}


/* content de coverpage */
.content {
    /* background: green; */
    display: inline-block;
    width: 60%;
}

.content > header{
    margin-top: 1rem;
    margin-left: 1.8rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}
/* content de coverpage */


#container{
    box-sizing: 100%;
    margin: 0px auto;
    width: 100%;
}

#leftDivision{
    background-color: #58f7f7;
    /* border-color: white;
    border-width: 2rem; */
    width: 33.3%;
    float: left;
}

#middleDivision{
    background-color: #e1f184;
    border-color: #606060;
    width: 33.3%;
    float: left;
}

#rightDivision{
    background-color: #9e3312;
    border-color: #606060;
    width: 33.3%;
    float: left;
}

.navigation {
    /* background: #606060; */
    background-color: #3b3b3b;

    /* display: inline-block; */
    width: 20%;
    float: left;
    /* border-radius: 0 0.375rem 0.376rem 0; */
}

.navigation p{
    font-size: 1.875rem;
    text-transform: uppercase;
    color: #80b4b4;
    font-weight: bold;
    margin-left: 1rem;
    margin-top: 1rem;
    padding-top: 0;

}

.library{
    margin-left: 1rem;
    margin-bottom: 1rem;
    bottom: 0;
    list-style: none;
    height: 62.5rem;
}

.library ul{
    list-style: none;
}

.library li a {
    display: block;
    list-style: none;
}
.library li label {
    font-weight: bold;
    /* border-bottom: 1px solid rgb(80, 80, 80); */
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.sidebar {
    background-color: #3b3b3b;
    /* background: #606060; */
    /* display: inline-block; */
    float: right;
    width: 20%;
    /* border-radius: 0.375rem 0 0 0.376rem; */
    margin-top: 0;
    margin-right: 0;
    height: 62.5rem;
}

.sidebar > p{
    padding: 1rem;
}

.sidebar h3{
    font-size: 1.875rem;
    text-transform: uppercase;
    color: #80b4b4;
    font-weight: bold;
    margin-left: 1rem;
    margin-top: 1rem;
    text-align: left;
    padding-top: 0;

}

.sidebar ul{
    list-style: none;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 0.8rem;
    text-align: left;
}

.sidebar li{
    margin-top: 1rem;
}

.sidebar #friendName{
    font-weight: bold;
    font-size: 0.95rem;
    padding-bottom: 0.2rem;
    padding-top: 0.5rem;
}

.sidebar #friendSong, #friendArtist{
    font-weight: lighter;
    color: rgb(180, 180, 180);
    padding-top: 0.1rem;
}

nav a:hover{
    color: rgb(189, 243, 243);
}

nav a{
    color: rgb(180, 180, 180);
    text-decoration: none;
    font-size: 0.875rem;
}

footer::after{
    content: '';
    display: table;
    clear: both;
}

.footer {
    background-color: #3b3b3b;
    border: 1px solid black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 9.375rem;
    text-align: center;
}

.footer audio {
    width: 75%;
    float: center;
    margin-left: 0;
    margin-right: 3.125rem;
    margin-top: 0.9375rem;
}

/* footer{
    float: right;
} */

/* .footer label{
    float: left;
    /* margin-right: 50px;
    margin-top: -10px;
    margin-bottom: 40px;
    margin: 0px 50px 10px 0px;
} */

.coverPhoto{
    float: left;
    list-style: none;
}

.coverPhoto #songTitle{
    font-weight: bold;
    margin-top: 0.625rem;
    /* padding-top: 5px; */
    margin: 0.3125rem;
    text-align: center;
    float: center;
}

.coverPhoto #songArtist{
    font-size: 0.875rem;
    color: #b9b8b8;
    text-align: center;
    font-weight: 6.25rem;
    float: center;
}

#songCover{
    /* width: 100px; */
    height: 9.375rem;
    float: left;
}

#textFooter{
    /* padding-top: 10px;
    margin-top: 30px; */
    margin: 1.875rem 0rem 0.625rem 23rem;
    /* text-align: left;
    float: left; */
    overflow: auto;
    float: center;
    text-align: center;
}

footer ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

footer li{
    /*If this is on, it just shows the play button and nothing else*/
    /* display: inline-block; */
}

@media screen and (max-width:850px){
    #container{
        width: 100%;
    }
    header.header{
        box-sizing: content-box;
    }
    /* #leftDivision{
        width: 20%;
    }
    #middleDivision{
        width: 20%;
    }
    #rightDivision{
        width: 20%;
    } */
    footer .footer{
        width: 30%;
    }
    #songCover{
        box-sizing: 30%;
    }
    #textFooter{
        margin: 2.8125rem 0.625rem;
        width: 100%;
        /* float: left;
        text-align: left; */
    }
    audio{
        width: 50%;
    }
    img{
        height: 100%
    }

    /* #songTitle{
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        float: left;
        text-align: left;
    } */

    .grid-item > img{
        width: 2.5rem;
    }

    .navigation p {
        font-size: 1.2rem;
    }
}
