#myBtn{
    cursor: pointer;
    background-color: #282828;
    border: none;
}

#myBtn p{
    color: white;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #282828;
    color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    /* background-color: #5cb85c; */
    color: white;
    margin-top: 1rem;
}

.modal-body {
    padding: 2px 16px;
    margin: auto;
}

.modal-footer {
    padding: 2px 16px;
    /* background-color: #5cb85c; */
    color: white;
    text-align: center;
    margin-top: 15rem;
}

.btnFooter {    
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    justify-content: space-evenly;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

#btnCancel{
    background-color: #636363;
    margin-right: 1rem;
    border: white;
}

#btnCreate{
    background-color: #4CAF50;
    margin-left: 1rem;
}

#imageModalContent{
    width: 10rem;
}

.imageModal, .description{
    float: left;
}

.description{
    padding-left: 5rem;
}

textarea{
    width: 180%;
    resize: none;
}

.row{
    justify-content: space-between;
    margin-top: 1rem;
}

#newPlaylist{
    width: 92%;
}

.modal-body input, textarea, .imageModal img{
    margin-top: 0.5rem;
}

#addImage{
    background-color: #636363;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 2rem;
    margin-top: 0.5rem;
    border-radius: 2rem;
    padding: 0.3rem 0.8rem;
}
