img {
    display: inline-block;
    width: 3em;
    height: 3em;
}

.songs tr td {
    border: 1px solid black;
}
.songs td {
    padding-right: 80px;
}

.artists {
    display: inline-grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: auto;
    width: 50%;
}
.artists_header {
    grid-column-start: 1;
    grid-column-end: span 3;
}
.artists_header label { /*label Artists to left & See all to right*/
    /* Nothing useful */
    border: 1px solid black;
    width: 50%;
}

.albums {
    display: inline-grid;
    grid-template-columns: repeat(2, 50%);
    width: 49%;
}
.albums_header {
    grid-column-start: 1;
    grid-column-end: span 2;
}
